* {
  font-family: Montserrat,sans-serif;
}

body{
  overflow-X:hidden;
}

#app {
  /* grille */
  display: grid;
  /* grille en 3x3 */
  grid-template-areas:
          ". . . "
          ". . . "
          ". . . ";
  /* espacement */
  padding: 30px;
  grid-gap: 45px;
  /* fullscreen */
  width: 100vw;
  height: 100vh;
}


img {
  /* taille */
  width: 60em;
  height: 60em;
  border-radius: 30px;
}

.grid-item {
  /* grille */
  display: grid;
  /* grille en 1x2 */
  grid-template-rows: 85% 15%;
  /* background */
  background: whitesmoke;
  /* bordure et ombre */
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 60px;
  /* animation mise en avant */
  transition: transform 500ms;
  width: 500px;

}


/*.grid-item:hover {
  transition: transform 100ms;
  transform: scale(1.1);
}*/

.grid-cell--bottom {
  /* flex */
  display: flex;
  /* flex:center */
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.1rem;
  border-radius: 0 0 30px 30px;
}
.grid-cell--top {
  border-radius: 30px 30px 0 0;
}

.fit {
  width: 100%;
  border-radius: 30px 30px 0 0;

}

.modal-mask {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9998;
  background-color: rgba(0, 0, 0, .5);
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 800px;
  margin: 0 auto;
  padding: 20px 30px;
  background-color: #F6F6F6;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;


}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

.close {
  font-size: 40px;
  border : none;
  background: none;
  padding: 0;
  float: left;
  margin-left: 10px;
  font-weight: bold;

}

.close:hover {
  color: #abb8c2;
  transition: 0.5s ease;
}

.portrait {
  width: 100%;
  max-width: 400px;
  border-radius: 0;

}

.button {
  background-color: #ef7e03;
  color: white;
  font-weight: bold;
  width: 125px;
  height: 30px;
  border-radius: 10px;
}

.title {
  font-size: 42px;
}
