<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/style.css" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
          rel="stylesheet"
          href="https://cdn.rawgit.com/jgthms/minireset.css/master/minireset.css"
  />
  <link
          rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900"
  />
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>

<p class="main_title">Portfolio Axe Développement Web</p>


<div id="app">
  <div class="grid-item"  @click="showModal = true" >
    <div class="grid-cell--top">
      <img src="images/Questions.jpg" alt="feg">
    </div>
    <div class="grid-cell--bottom">
      Projet 1
    </div>

  </div>
  <div class="grid-item"  @click="showModal2 = true" >
    <div class="grid-cell--top">
      <img src="images/Questions.jpg" alt="feg">
    </div>
    <div class="grid-cell--bottom">
      Projet 2
    </div>

  </div>
  <div class="grid-item"  @click="showModal3 = true" >
    <div class="grid-cell--top">
      <img src="images/Questions.jpg" alt="feg">
    </div>
    <div class="grid-cell--bottom">
      Projet 3
    </div>
  </div>
  <div class="grid-item"  @click="showModal4 = true" >
    <div class="grid-cell--top">
      <img src="images/Questions.jpg" alt="feg">
    </div>
    <div class="grid-cell--bottom">
      Projet 4
    </div>

  </div>
  <div class="grid-item"  @click="showModal5 = true" >
    <div class="grid-cell--top">
      <img src="images/Questions.jpg" alt="feg">
    </div>
    <div class="grid-cell--bottom">
      Projet 5
    </div>
  </div>
  <div class="grid-item"  @click="showModal6 = true" >
    <div class="grid-cell--top">
      <img src="images/Questions.jpg" alt="feg">
    </div>
    <div class="grid-cell--bottom">
      Projet 6
    </div>
  </div>
  <div class="grid-item"  @click="showModal7 = true" >
    <div class="grid-cell--top">
      <img src="images/Questions.jpg" alt="feg">
    </div>
    <div class="grid-cell--bottom">
      Projet 7
    </div>

  </div>
  <div class="grid-item"  @click="showModal8 = true" >
    <div class="grid-cell--top">
      <img src="images/Questions.jpg" alt="feg">
    </div>
    <div class="grid-cell--bottom">
      Projet 8
    </div>

  </div>
  <div class="grid-item"  @click="showModal9 = true" >
    <div class="grid-cell--top">
      <img src="images/Questions.jpg" alt="feg">
    </div>
    <div class="grid-cell--bottom">
      Projet 9
    </div>
  </div>
  <div>
    <modal v-if="showModal" @close="showModal = false">
      <div slot="header">
        <p class="title">PROJET HTML</p>

      </div>

      <div slot="body">
        <img src="images/test.jpeg" alt="illustration" class="portrait"><br><br>

        <p class="description">Le HyperText Markup Language, généralement abrégé HTML ou dans sa dernière version HTML5,
          est le langage de balisage conçu pour représenter les pages web.</p>
      </div>
    </modal>
  </div>
  <div>
    <modal2 v-if="showModal2" @close="showModal2 = false">
      <div slot="header">
        <p class="title">PROJET CSS</p>

      </div>

      <div slot="body">
        <img src="images/test.jpeg" alt="illustration" class="portrait"><br><br>

        <p class="description">Les feuilles de style en cascade, généralement appelées CSS de l'anglais Cascading Style Sheets,
          forment un langage informatique qui décrit la présentation des documents HTML et XML.</p>

      </div>
    </modal2>
  </div>
  <div>
    <modal3 v-if="showModal3" @close="showModal3 = false">
      <div slot="header">
        <p class="title">PROJET JS</p>

      </div>

      <div slot="body">
        <img src="images/test.jpeg" alt="illustration" class="portrait"><br><br>

        <p class="description">JavaScript est un langage de programmation de scripts principalement employé dans les pages web interactives mais aussi pour les serveurs.</p>

      </div>
    </modal3>
  </div>
  <div>
    <modal4 v-if="showModal4" @close="showModal4 = false">
      <div slot="header">
        <p class="title">PROJET PHP</p>

      </div>

      <div slot="body">
        <img src="images/test.jpeg" alt="illustration" class="portrait"><br><br>

        <p class="description">PHP: Hypertext Preprocessor, plus connu sous son sigle PHP (sigle auto-référentiel), est un langage de programmation libre, principalement utilisé
          pour produire des pages Web dynamiques via un serveur web</p>

      </div>
    </modal4>
  </div>
  <div>
    <modal5 v-if="showModal5" @close="showModal5 = false">
      <div slot="header">
        <p class="title">PROJET SYMFONY</p>

      </div>

      <div slot="body">
        <img src="images/test.jpeg" alt="illustration" class="portrait"><br><br>

        <p class="description">Symfony est un ensemble de composants PHP ainsi qu'une extension web libre écrit en PHP.
        Il fournit des fonctionnalités modulables et adaptables qui permettent de faciliter et d’accélérer le développement d'un site web.</p>

      </div>
    </modal5>
  </div>
  <div>
    <modal6 v-if="showModal6" @close="showModal6 = false">
      <div slot="header">
        <p class="title">PROJET LARAVEL</p>

      </div>

      <div slot="body">
        <img src="images/test.jpeg" alt="illustration" class="portrait"><br><br>

        <p class="description">Laravel est un framework web open-source écrit en PHP respectant le principe modèle-vue-contrôleur et entièrement développé en programmation orientée objet.
        Laravel est distribué sous licence MIT, avec ses sources hébergées sur GitHub.</p>

      </div>
    </modal6>
  </div>
  <div>
    <modal7 v-if="showModal7" @close="showModal7 = false">
      <div slot="header">
        <p class="title">PROJET ANDROID</p>

      </div>

      <div slot="body">
        <img src="images/test.jpeg" alt="illustration" class="portrait"><br><br>

        <p class="description">Android est un système d'exploitation mobile, fondé sur le noyau Linux et développé par Google.</p>

      </div>
    </modal7>
  </div>
  <div>
    <modal8 v-if="showModal8" @close="showModal8 = false">
      <div slot="header">
        <p class="title">PROJET IOS</p>

      </div>

      <div slot="body">
        <img src="images/test.jpeg" alt="illustration" class="portrait"><br><br>

        <p class="description">IOS est le système d'exploitation mobile développé par Apple pour plusieurs de ses appareils.</p>

      </div>
    </modal8>
  </div>
  <div>
    <modal9 v-if="showModal9" @close="showModal9 = false">
      <div slot="header">
        <p class="title">PROJET JAVA</p>

      </div>

      <div slot="body">
        <img src="images/test.jpeg" alt="illustration" class="portrait"><br><br>

        <p class="description">Java est un langage de programmation moderne développé par Sun Microsystems. Une de ses plus grandes forces est son excellente portabilité : une fois votre programme créé,
        il fonctionnera automatiquement sous Windows, Mac, Linux, etc.</p>

      </div>
    </modal9>
  </div>
</div>
<script>
  "use strict";
  Vue.component('modal', {
    template:  `<transition name="modal">
        <div class="modal-mask">
          <div class="modal-wrapper">
                      <button @click="$emit('close')" type="button" class="close">X</button>
              <div class="modal-container">
                  <div class="modal-header">
                      <slot name="header">
                           default header
                      </slot>
                  </div>
                  <div class="modal-body">
                              <slot name="body">
                                  default body
                              </slot>
                          </div>
                          <div class="footer">
                              <button @click="$emit('close')" type="button" class="button">FERMER</button>
                              <button class="button">VOIR LE PROJET</button>
                          </div>
                  </div>
              </div>
          </div>
        </div>
    </transition>`
  });
  Vue.component('modal2', {
    template:  `<transition name="modal">
        <div class="modal-mask">
          <div class="modal-wrapper">
                      <button @click="$emit('close')" type="button" class="close">X</button>
              <div class="modal-container">
                  <div class="modal-header">
                      <slot name="header">
                           default header
                      </slot>
                  </div>
                  <div class="modal-body">
                              <slot name="body">
                                  default body
                              </slot>
                          </div>
                          <div class="footer">
                              <button @click="$emit('close')" type="button" class="button">FERMER</button>
                              <button class="button">VOIR LE PROJET</button>
                          </div>
                  </div>
              </div>
          </div>
        </div>
    </transition>`
  });
  Vue.component('modal3', {
    template:  `<transition name="modal">
        <div class="modal-mask">
          <div class="modal-wrapper">
                      <button @click="$emit('close')" type="button" class="close">X</button>
              <div class="modal-container">
                  <div class="modal-header">
                      <slot name="header">
                           default header
                      </slot>
                  </div>
                  <div class="modal-body">
                              <slot name="body">
                                  default body
                              </slot>
                          </div>
                          <div class="footer">
                              <button @click="$emit('close')" type="button" class="button">FERMER</button>
                              <button class="button">VOIR LE PROJET</button>
                          </div>
                  </div>
              </div>
          </div>
        </div>
    </transition>`
  });
  Vue.component('modal4', {
    template:  `<transition name="modal">
        <div class="modal-mask">
          <div class="modal-wrapper">
                      <button @click="$emit('close')" type="button" class="close">X</button>
              <div class="modal-container">
                  <div class="modal-header">
                      <slot name="header">
                           default header
                      </slot>
                  </div>
                  <div class="modal-body">
                              <slot name="body">
                                  default body
                              </slot>
                          </div>
                          <div class="footer">
                              <button @click="$emit('close')" type="button" class="button">FERMER</button>
                              <button class="button">VOIR LE PROJET</button>
                          </div>
                  </div>
              </div>
          </div>
        </div>
    </transition>`
  });
  Vue.component('modal5', {
    template:  `<transition name="modal">
        <div class="modal-mask">
          <div class="modal-wrapper">
                      <button @click="$emit('close')" type="button" class="close">X</button>
              <div class="modal-container">
                  <div class="modal-header">
                      <slot name="header">
                           default header
                      </slot>
                  </div>
                  <div class="modal-body">
                              <slot name="body">
                                  default body
                              </slot>
                          </div>
                          <div class="footer">
                              <button @click="$emit('close')" type="button" class="button">FERMER</button>
                              <button class="button">VOIR LE PROJET</button>
                          </div>
                  </div>
              </div>
          </div>
        </div>
    </transition>`
  });
  Vue.component('modal6', {
    template:  `<transition name="modal">
        <div class="modal-mask">
          <div class="modal-wrapper">
                      <button @click="$emit('close')" type="button" class="close">X</button>
              <div class="modal-container">
                  <div class="modal-header">
                      <slot name="header">
                           default header
                      </slot>
                  </div>
                  <div class="modal-body">
                              <slot name="body">
                                  default body
                              </slot>
                          </div>
                          <div class="footer">
                              <button @click="$emit('close')" type="button" class="button">FERMER</button>
                              <button class="button">VOIR LE PROJET</button>
                          </div>
                  </div>
              </div>
          </div>
        </div>
    </transition>`
  });
  Vue.component('modal7', {
    template:  `<transition name="modal">
        <div class="modal-mask">
          <div class="modal-wrapper">
                      <button @click="$emit('close')" type="button" class="close">X</button>
              <div class="modal-container">
                  <div class="modal-header">
                      <slot name="header">
                           default header
                      </slot>
                  </div>
                  <div class="modal-body">
                              <slot name="body">
                                  default body
                              </slot>
                          </div>
                          <div class="footer">
                              <button @click="$emit('close')" type="button" class="button">FERMER</button>
                              <button class="button">VOIR LE PROJET</button>
                          </div>
                  </div>
              </div>
          </div>
        </div>
    </transition>`
  });
  Vue.component('modal8', {
    template:  `<transition name="modal">
        <div class="modal-mask">
          <div class="modal-wrapper">
                      <button @click="$emit('close')" type="button" class="close">X</button>
              <div class="modal-container">
                  <div class="modal-header">
                      <slot name="header">
                           default header
                      </slot>
                  </div>
                  <div class="modal-body">
                              <slot name="body">
                                  default body
                              </slot>
                          </div>
                          <div class="footer">
                              <button @click="$emit('close')" type="button" class="button">FERMER</button>
                              <button class="button">VOIR LE PROJET</button>
                          </div>
                  </div>
              </div>
          </div>
        </div>
    </transition>`
  });
  Vue.component('modal9', {
    template:  `<transition name="modal">
        <div class="modal-mask">
          <div class="modal-wrapper">
                      <button @click="$emit('close')" type="button" class="close">X</button>
              <div class="modal-container">
                  <div class="modal-header">
                      <slot name="header">
                           default header
                      </slot>
                  </div>
                  <div class="modal-body">
                              <slot name="body">
                                  default body
                              </slot>
                          </div>
                          <div class="footer">
                              <button @click="$emit('close')" type="button" class="button">FERMER</button>
                              <button class="button">VOIR LE PROJET</button>
                          </div>
                  </div>
              </div>
          </div>
        </div>
    </transition>`
  });
  // preview appelle chaque image du dossier image
  function preview(name) {
    var out = `<img class="fit" src="images/` + name + `.jpg">`;
    return out;
  }

  // data pour chaque projet de la grille
  let app = new Vue({
    el: "#app",
    data: {
      showModal: false,
      showModal2: false,
      showModal3: false,
      showModal4: false,
      showModal5: false,
      showModal6: false,
      showModal7: false,
      showModal8: false,
      showModal9: false,
    }
  });
</script>
</body>
</html>
