<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.rawgit.com/jgthms/minireset.css/master/minireset.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900"
    />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  </head>
  <body>
    <div id="app">
      <div v-for="swatch in swatches" >
        <div class="grid-item" @click="showModal = true" >
          <div class="grid-cell--top" v-html="swatch.previews" >
          </div>
          <div class="grid-cell--bottom">
            {{ swatch.project }}
          </div>
          <modal v-if="showModal" @close="showModal = false">
            <p slot="header">
              {{swatch.project}}
            </p>
          </modal>
        </div>
      </div>
    </div>
    <script>
      "use strict";
      Vue.component('modal', {
        template:  `<transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">
                    <div class="modal-header">
                         <slot name="header">
                                default header
                         </slot>
                    </div>
                        <div class="modal-body col-6 ">
                            <slot name="body">
                                default body
                            </slot>
                            <button @click="$emit('close')" class="btn btn-primary"> close</button>

                        </div>
                </div>
            </div>
        </div>
    </transition>`
      });
      // preview appelle chaque image du dossier image
      function preview(name) {
        var out = `<img class="fit" src="images/` + name + `.jpg">`;
        return out;
      }

      // data pour chaque projet de la grille
      let app = new Vue({
        el: "#app",
        data: {
          showModal: false,
          swatches: [
            {
              id: '1',
              name: "#ff691f",
              project: "Projet 1",
              previews: preview("Questions"),
              text: "sdgcfvsyuhbczj"
            },
            {
              name: "#fab81e",
              project: "Projet 2",
              previews: preview("Questions"),
              text: "efzargt"
            },
            {
              name: "#7fdbb6",
              project: "Projet 3",
              previews: preview("Questions"),
              text: "hnj"
            },
            {
              name: "#19cf86",
              project: "Projet 4",
              previews: preview("Questions")
            },
            {
              name: "#91d2fa",
              project: "Projet 5",
              previews: preview("Questions")
            },
            {
              name: "#1b95e0",
              project: "Projet 6",
              previews: preview("Questions")
            },
            {
              name: "#abb8c2",
              project: "Projet 7",
              previews: preview("Questions")
            },
            {
              name: "#e81c4f",
              project: "Projet 8",
              previews: preview("Questions")
            },
            {
              name: "#f58ea8",
              project: "Projet 9",
              previews: preview("Questions")
            }
          ],
        },
      });
    </script>
  </body>
</html>
